<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BASIL TRANSFER</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<header>
    <h1>Basil Transfer App</h1>
</header>

<body class="w3-container w3-margin">
    {% block homepage %}
    {% endblock %}
    {% block success %}
    {% endblock %}
    {% block error %}
    {% endblock %}
</body>
</html>